################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesktopApplicationAutomation/SampleApplication/bin/Debug/netcoreapp2.1
/.vs
/DesktopApplicationAutomation/.vs/DesktopApplicationAutomation/v15
/DesktopApplicationAutomation/SampleApplication/obj
