################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesktopApplicationAutomation/SampleApplication/bin/Debug/netcoreapp2.1
